<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592172045241-4iegnetqbgg5i737ppa5qcosjags25i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592172045241-4iegnetqbgg5i737ppa5qcosjags25i7</string>
	<key>API_KEY</key>
	<string>AIzaSyD8cU4B5AZSzPTSxtix5vLK3nvt1zIWT7o</string>
	<key>GCM_SENDER_ID</key>
	<string>592172045241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karakus.KutsalAnsiklopedi</string>
	<key>PROJECT_ID</key>
	<string>kutsalansiklopedi</string>
	<key>STORAGE_BUCKET</key>
	<string>kutsalansiklopedi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592172045241:ios:adfff8898668818b41dc68</string>
</dict>
</plist>